

.container {
    width: 100px;
    height: 100px;
    background-color: red;
}

@media(min-width: 425px){

.container{
background: green;}
}

@media(min-width: 600px) {
.container{
    background: orange;
}
}

@media (min-width: 425px) and (max-width: 599px) {
    .container {
        background: black
    }
}

@media(min-width: 768px){
    .container{
        background: orchid;
    }
}