/* sintazis css */
.tituloprincipal{
    background-color: orange;
    color: brown;
    font-size: 36px;
}

#noticias
{background-color:
     lawngreen;
    }
   .titulo
   {color:
    red;
    }

.texto {
   color: 
    sandybrown;
}